<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hCPayOption) {
    <div>
      <h2 data-cy="hCPayOptionDetailsHeading">
        <span jhiTranslate="professionalDashboardApp.professionalMsHCPayOption.detail.title">HC Pay Option</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ hCPayOption.id }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCPayOption.type">Type</span></dt>
        <dd>
          <span>{{ hCPayOption.type }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCPayOption.userID">User ID</span></dt>
        <dd>
          <span>{{ hCPayOption.userID }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCPayOption.metadata">Metadata</span></dt>
        <dd>
          <span>{{ hCPayOption.metadata }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/hc-pay-option', hCPayOption.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>