<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (document(); as documentRef) {
    <div>
      <h2 data-cy="documentDetailsHeading">
        <span jhiTranslate="professionalDashboardApp.professionalServiceDocument.detail.title">Document</span>
      </h2>

      <hr />

      <hpd-alert-error />

      <hpd-alert />

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.id">Id</span></dt>
        <dd>
          <span>{{ documentRef.id }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.name">Name</span></dt>
        <dd>
          <span>{{ documentRef.name }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.profileId">Profile Id</span></dt>
        <dd>
          <span>{{ documentRef.profileId }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.data">Data</span></dt>
        <dd>
          @if (documentRef.data) {
          <div>
            <a (click)="openFile(documentRef.data, documentRef.dataContentType)" jhiTranslate="entity.action.open">Open</a>
            {{ documentRef.dataContentType }}, {{ byteSize(documentRef.data) }}
          </div>
          }
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.type">Type</span></dt>
        <dd>
          <span [jhiTranslate]="'professionalDashboardApp.DocumentType.' + (documentRef.type ?? 'null')"
            >{{
            {"null":"","PASSPORT":"PASSPORT","CERTIFICATE":"CERTIFICATE","GHANACARD":"GHANACARD","PASSPHOTO":"PASSPHOTO","DRIVERLICENSE":"DRIVERLICENSE","VOTERCARD":"VOTERCARD","NHIS":"NHIS","OTHER":"OTHER","LICENSE":"LICENSE"}[documentRef.type
            ?? 'null'] }}</span
          >
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ documentRef.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.modifiedDate">Modified Date</span></dt>
        <dd>
          <span>{{ documentRef.modifiedDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.createdBy">Created By</span></dt>
        <dd>
          <span>{{ documentRef.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalServiceDocument.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ documentRef.modifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <mat-icon aria-hidden="true" class="!text-base">arrow_back</mat-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/document', documentRef.id, 'edit']" class="btn btn-primary">
        <mat-icon aria-hidden="true" class="!text-base">edit</mat-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>
