<div>
  <h2 id="page-heading" data-cy="TeamHeading">
    <span hpdTranslate="professionalDashboardApp.professionalServiceTeam.home.title">Teams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span hpdTranslate="professionalDashboardApp.professionalServiceTeam.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team"
        [routerLink]="['/team/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" hpdTranslate="professionalDashboardApp.professionalServiceTeam.home.createLabel">Create a new Team</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error />

  <hpd-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" hpdTranslate="professionalDashboardApp.professionalServiceTeam.home.search"
          >Search for Team</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'professionalDashboardApp.professionalServiceTeam.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch())">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch()) {
        <button class="btn btn-danger" (click)="search('')">
          <fa-icon icon="trash-alt" />
        </button>
        }
      </div>
    </div>
  </form>

  @if (teams().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span hpdTranslate="professionalDashboardApp.professionalServiceTeam.home.notFound">No Teams found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr hpdSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" hpdSortBy="id">
            <div class="d-flex">
              <span hpdTranslate="global.field.id">ID</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="name">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceTeam.name">Name</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="description">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceTeam.description">Description</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="contact">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceTeam.contact">Contact</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (team of teams(); track trackId(team)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/team', team.id, 'view']">{{ team.id }}</a></td>
          <td>{{ team.name }}</td>
          <td>{{ team.description }}</td>
          <td>{{ team.contact }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/team', team.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye" />
                <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt" />
                <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(team)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" />
                <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
