.profile-placeholder {
  display: inline-block;
  width: 160px;
  height: 200px;
  background: url('../../content/images/healthconnect-angel.png') no-repeat center top;
  background-size: contain;
}
.round-border {
  border-radius: 5px;
  border: 1px solid white;
}

.dashboard-component-right {
  background-color: #1b67e2;
  color: white;
  text-align: right;
}

.dashboard-component-left {
  background-color: #1b67e2;
  color: white;
  text-align: left;
}

.dashboard-component-center {
  background-color: #1b67e2;
  color: white;
  text-align: center;
}
.nav-item:hover {
  background-color: white;
  color: #1b67e2;
  border-radius: 5px;
}
.nav-item {
  color: white !important;
  font-weight: bold;
  font-size: medium;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  background-color: white;
  color: #1b67e2;
  border-radius: 5px;
}

.highlight {
  background-color: yellow;
  color: #1b67e2;
  border-radius: 5px;
}
