@if (account && isUserRole === true) {
  <!--METRIC-PROFILE-->
  <div class="row">
    <div class="col-md-2 round-border p-1 dashboard-component-left">
      <div class="dashboard-component-center bg-white mt-1">
        @if (imageUrl) {
          <img [src]="imageUrl" class="healthconnect img-fluid rounded" alt="profile image" />
        } @else {
          <span class="profile-placeholder healthconnect img-fluid rounded p-1"> </span>
          <br />
        }
      </div>
      <div class="p-1 dashboard-component-right bg-white">
        <button class="btn btn-small">
          <fa-icon icon="camera"></fa-icon>
        </button>
      </div>
    </div>
    <div class="col-md-8 round-border dashboard-component-center">
      <!--PATIENTS, FEMALE, MALE, CHILDREN--><!-- Metrics Panel -->
      <hpd-metric-panel [metricItems]="topCards" (selectedItem)="metricSelected($event)"></hpd-metric-panel>
      <!--URGENT, OPEN, CLOSED, NOTIFICATIONS-->
      <hpd-metric-panel [metricItems]="lowCards" (selectedItem)="metricSelected($event)"></hpd-metric-panel>
    </div>
    <div class="col-md-2 round-border p-3 dashboard-component-right">
      <div class="row d-flex justify-content-end">
        <div class="col-md-*">
          <span>{{ account.firstName }} {{ account.lastName }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-*">
          <span>{{ account.email }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-*">
          <span>{{ phoneNumber }}</span>
          <span *ngIf="!phoneNumber">Phone number unavailable</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-*">
          <span>{{ membership }}</span>
          <span *ngIf="!membership">Profile info unavailable</span>
        </div>
      </div>
    </div>
  </div>
  <!--NAVBAR-->
  <div class="row d-flex justify-content-end mt-1">
    <div class="col-md-12 border border-primary round-border dashboard-component-center">
      <nav class="navbar navbar-expand-md navbar-primary">
        <div class="container-fluid">
          <button
            class="navbar-toggler d-lg-none mb-2 text-white border-white"
            type="button"
            data-toggle="collapse"
            data-target="#dashboardNavbarResponsive"
            aria-controls="dashboardNavbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleNavbar()"
          >
            <fa-icon icon="bars"></fa-icon>
          </button>
          <div class="navbar-collapse collapse" id="dashboardNavbarResponsive" [ngbCollapse]="isNavbarCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="page === 'calendar' ? 'highlight' : ''"
                  (click)="openPage('calendar')"
                  aria-current="page"
                  href="#"
                  >Calendar</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="page === 'tasks' ? 'highlight' : ''" (click)="openPage('tasks')" aria-current="page" href="#"
                  >Tasks</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="page === 'patients' ? 'highlight' : ''"
                  (click)="openPage('patients')"
                  aria-current="page"
                  href="#"
                  >Patients</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="page === 'notifications' ? 'highlight' : ''"
                  (click)="openPage('notifications')"
                  aria-current="page"
                  href="#"
                  >Notifications</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="page === 'status' ? 'highlight' : ''"
                  (click)="openPage('status')"
                  aria-current="page"
                  href="#"
                  >Status</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="page === 'team' ? 'highlight' : ''" (click)="openPage('team')" aria-current="page" href="#"
                  >Team</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!--STATUS-GRAPHS-->
  <div class="row d-flex justify-contents-center">
    <hpd-status *ngIf="page === 'status'"></hpd-status>
    <h1 *ngIf="page !== 'status'">{{ page }}</h1>
  </div>
}
