<div class="footer text-center fixed-bottom bg-white pt-2">
  <div class="row justify-content-center">
    <div class="col-md-8 col-xs-12 text-center">
      <p>
        <span jhiTranslate="footer.copyright" [translateValues]="{year: year}">
          &copy; {{ year }} Health Connect by Jojo Addison Information Systems Consultancy &reg; All rights reserved.
        </span>
      </p>
    </div>
    <div class="col-md-4 col-sm-12 text-right pr-5">
      <p class="text-small">powered by: <a href="https://www.jojoaddison.net" target="_blank">Jojo Addison Information
          Systems
          Consultancy</a></p>
    </div>
  </div>
</div>