<div>
  <h2 id="page-heading" data-cy="ProfileHeading">
    <span jhiTranslate="professionalDashboardApp.professionalMsProfile.home.title">Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="professionalDashboardApp.professionalMsProfile.home.refreshListLabel">Refresh list</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-profile"
        [routerLink]="['/profile/new']">
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"
          jhiTranslate="professionalDashboardApp.professionalMsProfile.home.createLabel">Create a new Profile</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch"
          jhiTranslate="professionalDashboardApp.professionalMsProfile.home.search">Search for Profile</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"
          placeholder="{{ 'professionalDashboardApp.professionalMsProfile.home.search' | translate }}" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
        <button class="btn btn-danger" (click)="search('')">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
        }
      </div>
    </div>
  </form>

  @if (profiles?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="professionalDashboardApp.professionalMsProfile.home.notFound">No Profiles found</span>
  </div>
  }

  @if (profiles && profiles.length > 0) {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.firstName">First Name</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="middleNames">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.middleNames">Middle Names</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.lastName">Last Name</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="membership">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.membership">Membership</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="birthDate">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.birthDate">Birth Date</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sex">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.sex">Sex</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="mobilePhone">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.mobilePhone">Mobile Phone</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.phoneNumber">Phone Number</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.email">Email</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="cardType">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.cardType">Card Type</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="cardNumber">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.cardNumber">Card Number</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="contacts">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.contacts">Contacts</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.address">Address</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="team">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsProfile.team">Team</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (profile of profiles; track trackId) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a>
          </td>
          <td>{{ profile.firstName }}</td>
          <td>{{ profile.middleNames }}</td>
          <td>{{ profile.lastName }}</td>
          <td>{{ profile.membership }}</td>
          <td>{{ profile.birthDate | formatMediumDate }}</td>
          <td>{{ profile.sex }}</td>
          <td>{{ profile.mobilePhone }}</td>
          <td>{{ profile.phoneNumber }}</td>
          <td>{{ profile.email }}</td>
          <td>{{ profile.cardType }}</td>
          <td>{{ profile.cardNumber }}</td>
          <td>{{ profile.contacts }}</td>
          <td>{{ profile.address }}</td>
          <td>{{ profile.team }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/profile', profile.id, 'view']" class="btn btn-info btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/profile', profile.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(profile)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  @if (profiles && profiles.length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [page]="page" [pageSize]="itemsPerPage" [maxSize]="5"
        [rotate]="true" [boundaryLinks]="true" (pageChange)="navigateToPage($event)"></ngb-pagination>
    </div>
  </div>
  }
</div>