<div>
  <h2 id="page-heading" data-cy="DutyShiftHeading">
    <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.home.title">Duty Shifts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <mat-icon aria-hidden="true" class="!text-base" [class.animate-spin]="isLoading()">sync</mat-icon>
        <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-duty-shift"
        [routerLink]="['/duty-shift/new']"
      >
        <mat-icon aria-hidden="true" class="!text-base">add</mat-icon>
        <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.home.createLabel">Create a new Duty Shift</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error />

  <hpd-alert />

  @if (dutyShifts().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.home.notFound">No Duty Shifts found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [predicate]="sortState().predicate" [ascending]="sortState().ascending" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id" #idSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.id">Id</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ idSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="professionalId" #professionalIdSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.professionalId">Professional Id</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ professionalIdSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startsAt" #startsAtSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.startsAt">Starts At</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ startsAtSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endsAt" #endsAtSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.endsAt">Ends At</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ endsAtSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status" #statusSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.status">Status</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ statusSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="roster.id" #roster_idSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceDutyShift.roster">Roster</span>
              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ roster_idSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (dutyShift of dutyShifts(); track trackId(dutyShift)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/duty-shift', dutyShift.id, 'view']">{{ dutyShift.id }}</a></td>
          <td>{{ dutyShift.professionalId }}</td>
          <td>{{ dutyShift.startsAt | formatMediumDatetime }}</td>
          <td>{{ dutyShift.endsAt | formatMediumDatetime }}</td>
          <td [jhiTranslate]="'professionalDashboardApp.DutyShiftStatus.' + (dutyShift.status ?? 'null')">
            {{ {"null":"","UPCOMING":"UPCOMING","ACTIVE":"ACTIVE","COMPLETED":"COMPLETED"}[dutyShift.status ?? 'null'] }}
          </td>
          <td>
            @if (dutyShift.roster) {
            <div>
              <a [routerLink]="['/duty-roster', dutyShift.roster.id, 'view']">{{ dutyShift.roster.id }}</a>
            </div>
            }
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/duty-shift', dutyShift.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <mat-icon aria-hidden="true" class="!text-base">visibility</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/duty-shift', dutyShift.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <mat-icon aria-hidden="true" class="!text-base">edit</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(dutyShift)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <mat-icon aria-hidden="true" class="!text-base">close</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
