<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (clinicalCase(); as clinicalCaseRef) {
    <div>
      <h2 data-cy="clinicalCaseDetailsHeading">
        <span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.detail.title">Clinical Case</span>
      </h2>

      <hr />

      <hpd-alert-error />

      <hpd-alert />

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.id">Id</span></dt>
        <dd>
          <span>{{ clinicalCaseRef.id }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.patientId">Patient Id</span></dt>
        <dd>
          <span>{{ clinicalCaseRef.patientId }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.openedAt">Opened At</span></dt>
        <dd>
          <span>{{ clinicalCaseRef.openedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.brief">Brief</span></dt>
        <dd>
          <span>{{ clinicalCaseRef.brief }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.status">Status</span></dt>
        <dd>
          <span [jhiTranslate]="'professionalDashboardApp.CaseStatus.' + (clinicalCaseRef.status ?? 'null')"
            >{{ {"null":"","URGENT":"URGENT","OPEN":"OPEN","CLOSED":"CLOSED"}[clinicalCaseRef.status ?? 'null'] }}</span
          >
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.symptoms">Symptoms</span></dt>
        <dd>
          <span>{{ clinicalCaseRef.symptoms }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.diagnosis">Diagnosis</span></dt>
        <dd>
          <span>{{ clinicalCaseRef.diagnosis }}</span>
        </dd>
        <dt>
          <span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.assignedProfessionalId">Assigned Professional Id</span>
        </dt>
        <dd>
          <span>{{ clinicalCaseRef.assignedProfessionalId }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.assignedRosterId">Assigned Roster Id</span></dt>
        <dd>
          <span>{{ clinicalCaseRef.assignedRosterId }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.recommendation">Recommendation</span></dt>
        <dd>
          @for (recommendation of clinicalCaseRef.recommendations; track $index; let last = $last) {
          <span> <a [routerLink]="['/recommendation', recommendation.id, 'view']">{{ recommendation?.id }}</a>{{ last ? '' : ', ' }} </span>
          }
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <mat-icon aria-hidden="true" class="!text-base">arrow_back</mat-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/clinical-case', clinicalCaseRef.id, 'edit']" class="btn btn-primary">
        <mat-icon aria-hidden="true" class="!text-base">edit</mat-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>
