<div class="card jh-card" *ngIf="isToggleChat">
  <div class="card-header p-0 m-0 border-0">
    <h6 class="text-center">
      <span class="text-medium text-white"> Customer Service Chat </span>
      <a (click)="toggleChat()" class="btn btn-danger btn-xs close-btn text-black float-right">
        <span class="text-medium text-white text-center">
          <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
        </span>
      </a>
    </h6>
  </div>
  <div class="card-body text-info bg-white" #chatScreen>
    <!-- Registration  -->
    <form
      name="form"
      role="registerForm"
      id="registerForm"
      (ngSubmit)="register()"
      [formGroup]="registerForm"
      *ngIf="!success"
      class="p-0 m-0"
    >
      <p class="text-medium">Hello, please tell us who you are.</p>
      <p class="text-small" *ngIf="registrationInvalid">Registration input invalid. Please check your entry.</p>
      <div class="form-group m-0 p-0">
        <label class="form-control-label text-small" for="field_firstName">First Name</label>
        <input
          type="text"
          class="form-control form-control-sm text-small w-100"
          name="firstName"
          id="field_firstName"
          formControlName="firstName"
          #firstName
        />
      </div>
      <div class="form-group m-0 p-0">
        <label class="form-control-label text-small" for="field_lastName">Last Name</label>
        <input
          type="text"
          class="form-control form-control-sm text-small w-100"
          name="lastName"
          id="field_lastName"
          formControlName="lastName"
          #lastName
        />
      </div>
      <div class="form-group m-0 p-0">
        <label class="form-control-label text-small" for="field_email">Email</label>
        <input
          type="text"
          class="form-control form-control-sm text-small w-100"
          name="email"
          id="field_email"
          formControlName="email"
          #email
        />
      </div>
      <h1 class="mt-2">
        <button type="submit" class="btn btn-sm btn-info float-right">Submit</button>
      </h1>
    </form>
    <!-- Messages  -->
    <div class="table table-striped table-responsive d-table border-0 p-0 m-0 chat-box" *ngIf="success">
      <div class="row" *ngFor="let item of messages">
        <div [ngClass]="{ 'right-message': item.sender === client?.email, 'left-message': item.sender !== client?.email }">
          <div [ngClass]="{ customer: item.sender === client?.email, alice: item.sender !== client?.email }">
            <span class="text-small w-100">
              {{ item.content }}
            </span>
          </div>
          <p class="text-small" [ngClass]="{ 'text-right': item.sender === client?.email, 'text-left': item.sender !== client?.email }">
            <i>{{ item.createdDate | formatMediumDate }}</i>
          </p>
        </div>
        <hpd-chat-faq class="w-100" *ngIf="item.sender !== client?.email"></hpd-chat-faq>
      </div>
    </div>
  </div>
  <div class="card-footer p-0">
    <!-- Message Form  -->
    <form action="#" class="p-0 m-0" *ngIf="success" novalidate name="messageForm" role="form" (ngSubmit)="send()" #messageForm="ngForm">
      <textarea
        type="text"
        [(ngModel)]="message"
        name="message"
        class="form-control form-control-sm text-small w-100"
        (keyup.enter)="send()"
      >
            {{ message }}
            </textarea
      >
      <h4>
        <button type="button" (click)="send()" class="btn btn-sm btn-info float-right">send</button>
      </h4>
    </form>
  </div>
</div>
<div class="chat-btn text-center badge badge-info" *ngIf="!isToggleChat">
  <a class="bg-info text-warning chat-btn" (click)="toggleChat()">
    <fa-icon icon="comments" [fixedWidth]="true"></fa-icon>
    <span class="text-medium">Hello</span>
  </a>
</div>
