<div>
  <h2 id="page-heading" data-cy="ProfileHeading">
    <span hpdTranslate="professionalDashboardApp.professionalMsProfile.home.title">Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hpdTranslate="professionalDashboardApp.professionalMsProfile.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-profile"
        [routerLink]="['/profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" hpdTranslate="professionalDashboardApp.professionalMsProfile.home.createLabel">Create a new Profile</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error></hpd-alert-error>

  <hpd-alert></hpd-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" hpdTranslate="professionalDashboardApp.professionalMsProfile.home.search"
          >Search for Profile</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'professionalDashboardApp.professionalMsProfile.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (profiles?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span hpdTranslate="professionalDashboardApp.professionalMsProfile.home.notFound">No Profiles found</span>
    </div>
  }

  @if (profiles && profiles.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr hpdSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" hpdSortBy="id">
              <div class="d-flex">
                <span hpdTranslate="global.field.id">ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="firstName">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.firstName">First Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="middleNames">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.middleNames">Middle Names</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="lastName">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.lastName">Last Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="membership">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.membership">Membership</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="birthDate">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.birthDate">Birth Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="sex">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.sex">Sex</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="mobilePhone">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.mobilePhone">Mobile Phone</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="phoneNumber">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.phoneNumber">Phone Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="email">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.email">Email</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="idType">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.idType">Id Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="idNumber">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.idNumber">Id Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="contacts">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.contacts">Contacts</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="address">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsProfile.address">Address</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (profile of profiles; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a>
              </td>
              <td>{{ profile.firstName }}</td>
              <td>{{ profile.middleNames }}</td>
              <td>{{ profile.lastName }}</td>
              <td>{{ profile.membership }}</td>
              <td>{{ profile.birthDate | formatMediumDate }}</td>
              <td>{{ profile.sex }}</td>
              <td>{{ profile.mobilePhone }}</td>
              <td>{{ profile.phoneNumber }}</td>
              <td>{{ profile.email }}</td>
              <td>{{ profile.idType }}</td>
              <td>{{ profile.idNumber }}</td>
              <td>{{ profile.contacts }}</td>
              <td>{{ profile.address }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/profile', profile.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/profile', profile.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(profile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (profiles && profiles.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <hpd-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></hpd-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
