<div>
  <h2 id="page-heading" data-cy="HCCredentialHeading">
    <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.home.title">HC Credentials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.home.refreshListLabel">Refresh
          list</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hc-credential" [routerLink]="['/hc-credential/new']">
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"
          jhiTranslate="professionalDashboardApp.professionalMsHCCredential.home.createLabel">Create a new HC
          Credential</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch"
          jhiTranslate="professionalDashboardApp.professionalMsHCCredential.home.search">Search for HC
          Credential</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"
          placeholder="{{ 'professionalDashboardApp.professionalMsHCCredential.home.search' | translate }}" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
        <button class="btn btn-danger" (click)="search('')">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
        }
      </div>
    </div>
  </form>

  @if (hCCredentials?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.home.notFound">No HC Credentials
      found</span>
  </div>
  }

  @if (hCCredentials && hCCredentials.length > 0) {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.email">Email</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.phoneNumber">Phone Number</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.password">Password</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="role">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.role">Role</span>
              @if (!currentSearch) {
              <fa-icon class="p-1" icon="sort"></fa-icon>
              }
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.createdDate">Created Date</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.active">Active</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modifiedDate">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.modifiedDate">Modified Date</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (hCCredential of hCCredentials; track trackId) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/hc-credential', hCCredential.id, 'view']">{{ hCCredential.id }}</a>
          </td>
          <td>{{ hCCredential.email }}</td>
          <td>{{ hCCredential.phoneNumber }}</td>
          <td>{{ hCCredential.password }}</td>
          <td>{{ hCCredential.role }}</td>
          <td>{{ hCCredential.createdDate | formatMediumDate }}</td>
          <td>{{ hCCredential.active }}</td>
          <td>{{ hCCredential.modifiedDate | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/hc-credential', hCCredential.id, 'view']" class="btn btn-info btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/hc-credential', hCCredential.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(hCCredential)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>