<div class="flex justify-center">
  <div class="">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hpd-duty-roster-heading"
        data-cy="DutyRosterCreateUpdateHeading"
        jhiTranslate="professionalDashboardApp.professionalserviceDutyRoster.home.createOrEditLabel"
      >
        Create or edit a Duty Roster
      </h2>

      <div>
        <hpd-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="hpd-label" for="field_id" jhiTranslate="professionalDashboardApp.professionalserviceDutyRoster.id">Id</label>
          <input type="text" class="hpd-input" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        }

        <div class="mb-3">
          <label class="hpd-label" for="field_name" jhiTranslate="professionalDashboardApp.professionalserviceDutyRoster.name">Name</label>
          <input type="text" class="hpd-input" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label
            for="field_subscribedProfessionals"
            jhiTranslate="professionalDashboardApp.professionalserviceDutyRoster.subscribedProfessional"
            >Subscribed Professional</label
          >
          <select
            class="hpd-input"
            id="field_subscribedProfessionals"
            data-cy="subscribedProfessional"
            multiple
            name="subscribedProfessionals"
            formControlName="subscribedProfessionals"
            [compareWith]="compareHealthConnectProfessional"
          >
            @for (healthConnectProfessionalOption of healthConnectProfessionalsSharedCollection(); track $index) {
            <option [ngValue]="healthConnectProfessionalOption">{{ healthConnectProfessionalOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="hpd-btn hpd-btn-ghost" (click)="previousState()">
          <mat-icon aria-hidden="true" class="!text-base">cancel</mat-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="hpd-btn hpd-btn-primary"
        >
          <mat-icon aria-hidden="true" class="!text-base">save</mat-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
