<div>
  <h2 id="page-heading" data-cy="AddressHeading">
    <span jhiTranslate="professionalDashboardApp.professionalMsAddress.home.title">Addresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="professionalDashboardApp.professionalMsAddress.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-address"
        [routerLink]="['/address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="professionalDashboardApp.professionalMsAddress.home.createLabel"
          >Create a new Address</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="professionalDashboardApp.professionalMsAddress.home.search"
          >Search for Address</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'professionalDashboardApp.professionalMsAddress.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (addresses?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="professionalDashboardApp.professionalMsAddress.home.notFound">No Addresses found</span>
    </div>
  }

  @if (addresses && addresses.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.id">Id</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="digitalAddress">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.digitalAddress">Digital Address</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="streetAddress">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.streetAddress">Street Address</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="areaCode">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.areaCode">Area Code</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="town">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.town">Town</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="city">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.city">City</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="district">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.district">District</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="state">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.state">State</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="region">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.region">Region</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="country">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.country">Country</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modifiedDate">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.modifiedDate">Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.createdBy">Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="modifiedBy">
              <div class="d-flex">
                <span jhiTranslate="professionalDashboardApp.professionalMsAddress.modifiedBy">Modified By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (address of addresses; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/address', address.id, 'view']">{{ address.id }}</a>
              </td>
              <td>{{ address.digitalAddress }}</td>
              <td>{{ address.streetAddress }}</td>
              <td>{{ address.areaCode }}</td>
              <td>{{ address.town }}</td>
              <td>{{ address.city }}</td>
              <td>{{ address.district }}</td>
              <td>{{ address.state }}</td>
              <td>{{ address.region }}</td>
              <td>{{ address.country }}</td>
              <td>{{ address.createdDate | formatMediumDate }}</td>
              <td>{{ address.modifiedDate | formatMediumDate }}</td>
              <td>{{ address.createdBy }}</td>
              <td>{{ address.modifiedBy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/address', address.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(address)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
