<div>
  <h2 id="page-heading" data-cy="MembershipHeading">
    <span hpdTranslate="professionalDashboardApp.professionalMsMembership.home.title">Memberships</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hpdTranslate="professionalDashboardApp.professionalMsMembership.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-membership"
        [routerLink]="['/membership/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" hpdTranslate="professionalDashboardApp.professionalMsMembership.home.createLabel">Create a new Membership</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error></hpd-alert-error>

  <hpd-alert></hpd-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" hpdTranslate="professionalDashboardApp.professionalMsMembership.home.search"
          >Search for Membership</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'professionalDashboardApp.professionalMsMembership.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (memberships?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span hpdTranslate="professionalDashboardApp.professionalMsMembership.home.notFound">No Memberships found</span>
    </div>
  }

  @if (memberships && memberships.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr hpdSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" hpdSortBy="id">
              <div class="d-flex">
                <span hpdTranslate="global.field.id">ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="name">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsMembership.name">Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="description">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsMembership.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="status">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsMembership.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="createdDate">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsMembership.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="modifiedDate">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsMembership.modifiedDate">Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="createdBy">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsMembership.createdBy">Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" hpdSortBy="modifiedBy">
              <div class="d-flex">
                <span hpdTranslate="professionalDashboardApp.professionalMsMembership.modifiedBy">Modified By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (membership of memberships; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/membership', membership.id, 'view']">{{ membership.id }}</a>
              </td>
              <td>{{ membership.name }}</td>
              <td>{{ membership.description }}</td>
              <td>{{ membership.status }}</td>
              <td>{{ membership.createdDate | formatMediumDate }}</td>
              <td>{{ membership.modifiedDate | formatMediumDate }}</td>
              <td>{{ membership.createdBy }}</td>
              <td>{{ membership.modifiedBy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/membership', membership.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/membership', membership.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(membership)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
