<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hpd-medication-heading"
        data-cy="MedicationCreateUpdateHeading"
        hpdTranslate="professionalDashboardApp.professionalMsMedication.home.createOrEditLabel"
      >
        Create or edit a Medication
      </h2>

      <div>
        <hpd-alert-error></hpd-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" hpdTranslate="global.field.id" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" hpdTranslate="professionalDashboardApp.professionalMsMedication.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="professionalDashboardApp.professionalMsMedication.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="professionalDashboardApp.professionalMsMedication.prescription" for="field_prescription"
            >Prescription</label
          >
          <input
            type="text"
            class="form-control"
            name="prescription"
            id="field_prescription"
            data-cy="prescription"
            formControlName="prescription"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="professionalDashboardApp.professionalMsMedication.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="professionalDashboardApp.professionalMsMedication.modifiedDate" for="field_modifiedDate"
            >Modified Date</label
          >
          <div class="input-group">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="text"
              class="form-control"
              name="modifiedDate"
              ngbDatepicker
              #modifiedDateDp="ngbDatepicker"
              formControlName="modifiedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="modifiedDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="professionalDashboardApp.professionalMsMedication.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="professionalDashboardApp.professionalMsMedication.modifiedBy" for="field_modifiedBy"
            >Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span hpdTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
