<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hpd-patient-heading"
        data-cy="PatientCreateUpdateHeading"
        jhiTranslate="professionalDashboardApp.patientServicePatient.home.createOrEditLabel"
      >
        Create or edit a Patient
      </h2>

      <div>
        <hpd-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="professionalDashboardApp.patientServicePatient.id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_patientName" jhiTranslate="professionalDashboardApp.patientServicePatient.patientName"
            >Patient Name</label
          >
          <input
            type="text"
            class="form-control"
            name="patientName"
            id="field_patientName"
            data-cy="patientName"
            formControlName="patientName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastActivityAt" jhiTranslate="professionalDashboardApp.patientServicePatient.lastActivityAt"
            >Last Activity At</label
          >
          <div class="d-flex">
            <input
              id="field_lastActivityAt"
              data-cy="lastActivityAt"
              type="datetime-local"
              class="form-control"
              name="lastActivityAt"
              formControlName="lastActivityAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sex" jhiTranslate="professionalDashboardApp.patientServicePatient.sex">Sex</label>
          <select class="form-control" name="sex" formControlName="sex" id="field_sex" data-cy="sex">
            <option [ngValue]="null">{{ 'professionalDashboardApp.PatientSex.null' | translate }}</option>
            @for (patientSex of patientSexValues; track $index) {
            <option [value]="patientSex">{{ 'professionalDashboardApp.PatientSex.' + patientSex | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isChild" jhiTranslate="professionalDashboardApp.patientServicePatient.isChild"
            >Is Child</label
          >
          <input type="checkbox" class="form-check" name="isChild" id="field_isChild" data-cy="isChild" formControlName="isChild" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateOfBirth" jhiTranslate="professionalDashboardApp.patientServicePatient.dateOfBirth"
            >Date Of Birth</label
          >
          <div class="input-group">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="date"
              class="form-control"
              name="dateOfBirth"
              formControlName="dateOfBirth"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phone" jhiTranslate="professionalDashboardApp.patientServicePatient.phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="professionalDashboardApp.patientServicePatient.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_emergencyContactName"
            jhiTranslate="professionalDashboardApp.patientServicePatient.emergencyContactName"
            >Emergency Contact Name</label
          >
          <input
            type="text"
            class="form-control"
            name="emergencyContactName"
            id="field_emergencyContactName"
            data-cy="emergencyContactName"
            formControlName="emergencyContactName"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_emergencyContactPhone"
            jhiTranslate="professionalDashboardApp.patientServicePatient.emergencyContactPhone"
            >Emergency Contact Phone</label
          >
          <input
            type="text"
            class="form-control"
            name="emergencyContactPhone"
            id="field_emergencyContactPhone"
            data-cy="emergencyContactPhone"
            formControlName="emergencyContactPhone"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_avatarUrl" jhiTranslate="professionalDashboardApp.patientServicePatient.avatarUrl"
            >Avatar Url</label
          >
          <input type="text" class="form-control" name="avatarUrl" id="field_avatarUrl" data-cy="avatarUrl" formControlName="avatarUrl" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <mat-icon aria-hidden="true" class="!text-base">cancel</mat-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <mat-icon aria-hidden="true" class="!text-base">save</mat-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
