@if (medication) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(medication.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="medicationDeleteDialogHeading" hpdTranslate="entity.delete.title">Confirm delete operation</h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <hpd-alert-error></hpd-alert-error>
      <p
        id="hpd-delete-medication-heading"
        hpdTranslate="professionalDashboardApp.professionalMsMedication.delete.question"
        [translateValues]="{ id: medication.id }"
      >
        Are you sure you want to delete Medication {{ medication.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="hpd-confirm-delete-medication" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span hpdTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
