<div class="flex justify-center">
  <div class="">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hpd-clinical-case-heading"
        data-cy="ClinicalCaseCreateUpdateHeading"
        jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.home.createOrEditLabel"
      >
        Create or edit a Clinical Case
      </h2>

      <div>
        <hpd-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="hpd-label" for="field_id" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.id">Id</label>
          <input type="text" class="hpd-input" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        }

        <div class="mb-3">
          <label class="hpd-label" for="field_patientId" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.patientId"
            >Patient Id</label
          >
          <input type="text" class="hpd-input" name="patientId" id="field_patientId" data-cy="patientId" formControlName="patientId" />
        </div>

        <div class="mb-3">
          <label class="hpd-label" for="field_openedAt" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.openedAt"
            >Opened At</label
          >
          <div class="flex">
            <input
              id="field_openedAt"
              data-cy="openedAt"
              type="datetime-local"
              class="hpd-input"
              name="openedAt"
              formControlName="openedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="hpd-label" for="field_brief" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.brief">Brief</label>
          <input type="text" class="hpd-input" name="brief" id="field_brief" data-cy="brief" formControlName="brief" />
        </div>

        <div class="mb-3">
          <label class="hpd-label" for="field_status" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.status"
            >Status</label
          >
          <select class="hpd-input" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'professionalDashboardApp.CaseStatus.null' | translate }}</option>
            @for (caseStatus of caseStatusValues; track $index) {
            <option [value]="caseStatus">{{ 'professionalDashboardApp.CaseStatus.' + caseStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="hpd-label" for="field_symptoms" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.symptoms"
            >Symptoms</label
          >
          <input type="text" class="hpd-input" name="symptoms" id="field_symptoms" data-cy="symptoms" formControlName="symptoms" />
        </div>

        <div class="mb-3">
          <label class="hpd-label" for="field_diagnosis" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.diagnosis"
            >Diagnosis</label
          >
          <input type="text" class="hpd-input" name="diagnosis" id="field_diagnosis" data-cy="diagnosis" formControlName="diagnosis" />
        </div>

        <div class="mb-3">
          <label
            class="hpd-label"
            for="field_assignedProfessionalId"
            jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.assignedProfessionalId"
            >Assigned Professional Id</label
          >
          <input
            type="text"
            class="hpd-input"
            name="assignedProfessionalId"
            id="field_assignedProfessionalId"
            data-cy="assignedProfessionalId"
            formControlName="assignedProfessionalId"
          />
        </div>

        <div class="mb-3">
          <label
            class="hpd-label"
            for="field_assignedRosterId"
            jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.assignedRosterId"
            >Assigned Roster Id</label
          >
          <input
            type="text"
            class="hpd-input"
            name="assignedRosterId"
            id="field_assignedRosterId"
            data-cy="assignedRosterId"
            formControlName="assignedRosterId"
          />
        </div>

        <div class="mb-3">
          <label for="field_recommendations" jhiTranslate="professionalDashboardApp.patientServiceClinicalCase.recommendation"
            >Recommendation</label
          >
          <select
            class="hpd-input"
            id="field_recommendations"
            data-cy="recommendation"
            multiple
            name="recommendations"
            formControlName="recommendations"
            [compareWith]="compareRecommendation"
          >
            @for (recommendationOption of recommendationsSharedCollection(); track $index) {
            <option [ngValue]="recommendationOption">{{ recommendationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="hpd-btn hpd-btn-ghost" (click)="previousState()">
          <mat-icon aria-hidden="true" class="!text-base">cancel</mat-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="hpd-btn hpd-btn-primary"
        >
          <mat-icon aria-hidden="true" class="!text-base">save</mat-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
