/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/logo.png') no-repeat center center;
  background-size: contain;
}
