<div class="card-group jh-card status">
    <div class="card col-md-4 border-0 mr-1">
        <div class="card-header">
            <h3>Daily Services over 7 Days</h3>
        </div>
        <div class="card-body">
            <ngx-charts-line-chart class='col' [view]="[0,360]" [results]="chartSeries" [scheme]="colorScheme"
                [schemeType]="schemeType" [animations]="animations" [legend]="showLegend" [legendTitle]="legendTitle"
                [legendPosition]="legendPosition" [xAxis]="showXAxis" [yAxis]="showYAxis"
                [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="showTimeline" [gradient]="gradient">
            </ngx-charts-line-chart>
        </div>
    </div>
    <div class="card col-md-4 border-0">
        <div class="card-header">
            <h3>Services over 7 Days</h3>
        </div>
        <ngx-charts-bar-vertical-2d class='col' [view]="[0,320]" [results]='chartItems' [scheme]='colorScheme'
            [schemeType]="schemeType" [animations]='animations' [legend]='showLegend' [legendTitle]='legendTitle'
            [legendPosition]='legendPosition' [xAxis]='showXAxis' [yAxis]='showYAxis' [showGridLines]='showGridLines'
            [showXAxisLabel]='showXAxisLabel' [showYAxisLabel]='showYAxisLabel' [xAxisLabel]='xAxisLabel'
            [yAxisLabel]='yAxisLabel' [showDataLabel]='showDataLabel' [noBarWhenZero]='noBarWhenZero'
            [gradient]='gradient' [roundEdges]='roundEdges'>
        </ngx-charts-bar-vertical-2d>
    </div>
</div>