<div>
  <h2 id="page-heading" data-cy="HealthConnectProfessionalHeading">
    <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.home.title"
      >Health Connect Professionals</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <mat-icon aria-hidden="true" class="!text-base" [class.animate-spin]="isLoading()">sync</mat-icon>
        <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-health-connect-professional"
        [routerLink]="['/health-connect-professional/new']"
      >
        <mat-icon aria-hidden="true" class="!text-base">add</mat-icon>
        <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.home.createLabel"
          >Create a new Health Connect Professional</span
        >
      </button>
    </div>
  </h2>

  <hpd-alert-error />

  <hpd-alert />

  @if (healthConnectProfessionals().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.home.notFound"
      >No Health Connect Professionals found</span
    >
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [predicate]="sortState().predicate" [ascending]="sortState().ascending" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id" #idSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.id">Id</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ idSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountLogin" #accountLoginSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.accountLogin">Account Login</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ accountLoginSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name" #nameSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.name">Name</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ nameSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="role" #roleSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.professionalServiceHealthConnectProfessional.role">Role</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ roleSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (healthConnectProfessional of healthConnectProfessionals(); track trackId(healthConnectProfessional)) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/health-connect-professional', healthConnectProfessional.id, 'view']">{{ healthConnectProfessional.id }}</a>
          </td>
          <td>{{ healthConnectProfessional.accountLogin }}</td>
          <td>{{ healthConnectProfessional.name }}</td>
          <td>{{ healthConnectProfessional.role }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a
                [routerLink]="['/health-connect-professional', healthConnectProfessional.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <mat-icon aria-hidden="true" class="!text-base">visibility</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a
                [routerLink]="['/health-connect-professional', healthConnectProfessional.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <mat-icon aria-hidden="true" class="!text-base">edit</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(healthConnectProfessional)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <mat-icon aria-hidden="true" class="!text-base">close</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
