<div>
  <h2 id="page-heading" data-cy="VisitationHeading">
    <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.home.title">Visitations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <mat-icon aria-hidden="true" class="!text-base" [class.animate-spin]="isLoading()">sync</mat-icon>
        <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-visitation"
        [routerLink]="['/visitation/new']"
      >
        <mat-icon aria-hidden="true" class="!text-base">add</mat-icon>
        <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.home.createLabel">Create a new Visitation</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error />

  <hpd-alert />

  @if (visitations().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.home.notFound">No Visitations found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [predicate]="sortState().predicate" [ascending]="sortState().ascending" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id" #idSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.id">Id</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ idSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="patientId" #patientIdSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.patientId">Patient Id</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ patientIdSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="occurredAt" #occurredAtSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.occurredAt">Occurred At</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ occurredAtSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="label" #labelSort="jhiSortBy">
            <div class="d-flex">
              <span jhiTranslate="professionalDashboardApp.patientServiceVisitation.label">Label</span>

              <mat-icon aria-hidden="true" class="!text-base text-hpd-subtle">{{ labelSort.icon }}</mat-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (visitation of visitations(); track trackId(visitation)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/visitation', visitation.id, 'view']">{{ visitation.id }}</a></td>
          <td>{{ visitation.patientId }}</td>
          <td>{{ visitation.occurredAt | formatMediumDatetime }}</td>
          <td>{{ visitation.label }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/visitation', visitation.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <mat-icon aria-hidden="true" class="!text-base">visibility</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/visitation', visitation.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <mat-icon aria-hidden="true" class="!text-base">edit</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(visitation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <mat-icon aria-hidden="true" class="!text-base">close</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
