<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hCCredential) {
      <div>
        <h2 data-cy="hCCredentialDetailsHeading">
          <span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.detail.title">HC Credential</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ hCCredential.id }}</span>
          </dd>
          <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.email">Email</span></dt>
          <dd>
            <span>{{ hCCredential.email }}</span>
          </dd>
          <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ hCCredential.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.password">Password</span></dt>
          <dd>
            <span>{{ hCCredential.password }}</span>
          </dd>
          <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.role">Role</span></dt>
          <dd>
            <span>{{ hCCredential.role }}</span>
          </dd>
          <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ hCCredential.createdDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.active">Active</span></dt>
          <dd>
            <span>{{ hCCredential.active }}</span>
          </dd>
          <dt><span jhiTranslate="professionalDashboardApp.professionalMsHCCredential.modifiedDate">Modified Date</span></dt>
          <dd>
            <span>{{ hCCredential.modifiedDate | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/hc-credential', hCCredential.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
