<div>
  <h2 id="page-heading" data-cy="MedicationHeading">
    <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.home.title">Medications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medication"
        [routerLink]="['/medication/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" hpdTranslate="professionalDashboardApp.professionalServiceMedication.home.createLabel"
          >Create a new Medication</span
        >
      </button>
    </div>
  </h2>

  <hpd-alert-error />

  <hpd-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" hpdTranslate="professionalDashboardApp.professionalServiceMedication.home.search"
          >Search for Medication</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'professionalDashboardApp.professionalServiceMedication.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch())">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch()) {
        <button class="btn btn-danger" (click)="search('')">
          <fa-icon icon="trash-alt" />
        </button>
        }
      </div>
    </div>
  </form>

  @if (medications().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.home.notFound">No Medications found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr hpdSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" hpdSortBy="id">
            <div class="d-flex">
              <span hpdTranslate="global.field.id">ID</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="name">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.name">Name</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="description">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.description">Description</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="prescription">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.prescription">Prescription</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="createdDate">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.createdDate">Created Date</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" hpdSortBy="modifiedDate">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.modifiedDate">Modified Date</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" hpdSortBy="createdBy">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.createdBy">Created By</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col" hpdSortBy="modifiedBy">
            <div class="d-flex">
              <span hpdTranslate="professionalDashboardApp.professionalServiceMedication.modifiedBy">Modified By</span>
              @if (!currentSearch()) {
              <fa-icon class="p-1" icon="sort" />
              }
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (medication of medications(); track trackId(medication)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/medication', medication.id, 'view']">{{ medication.id }}</a></td>
          <td>{{ medication.name }}</td>
          <td>{{ medication.description }}</td>
          <td>{{ medication.prescription }}</td>
          <td>{{ medication.createdDate | formatMediumDate }}</td>
          <td>{{ medication.modifiedDate | formatMediumDate }}</td>
          <td>{{ medication.createdBy }}</td>
          <td>{{ medication.modifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/medication', medication.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye" />
                <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/medication', medication.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt" />
                <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(medication)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" />
                <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
