<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (stat) {
    <div>
      <h2 data-cy="statDetailsHeading"><span jhiTranslate="professionalDashboardApp.professionalMsStat.detail.title">Stat</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ stat.id }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsStat.name">Name</span></dt>
        <dd>
          <span>{{ stat.name }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsStat.description">Description</span></dt>
        <dd>
          <span>{{ stat.description }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsStat.value">Value</span></dt>
        <dd>
          <span>{{ stat.value }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsStat.note">Note</span></dt>
        <dd>
          <span>{{ stat.note }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsStat.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ stat.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="professionalDashboardApp.professionalMsStat.createdBy">Created By</span></dt>
        <dd>
          <span>{{ stat.createdBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/stat', stat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>