<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (team) {
      <div>
        <h2 data-cy="teamDetailsHeading"><span hpdTranslate="professionalDashboardApp.professionalMsTeam.detail.title">Team</span></h2>

        <hr />

        <hpd-alert-error></hpd-alert-error>

        <hpd-alert></hpd-alert>

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ team.id }}</span>
          </dd>
          <dt><span hpdTranslate="professionalDashboardApp.professionalMsTeam.name">Name</span></dt>
          <dd>
            <span>{{ team.name }}</span>
          </dd>
          <dt><span hpdTranslate="professionalDashboardApp.professionalMsTeam.description">Description</span></dt>
          <dd>
            <span>{{ team.description }}</span>
          </dd>
          <dt><span hpdTranslate="professionalDashboardApp.professionalMsTeam.contact">Contact</span></dt>
          <dd>
            <span>{{ team.contact }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
